.w3-theme {
	color: #ffffff;
	opacity: 1;
	background-color: #001A85;
}

.theme {
	color: #ffffff;
	opacity: 1;
	background-color: #001A85;
}

#table {
	background-color: #001A85;
	color: #ffffff;
	font:bold;
}

ul {
	list-style: none;
}

#nav {
	position: fixed;
	top: 0px;
	height: 12em;
	width: 100%;
	z-index: 0;
}

#login {
	float: right;
}

#main {
	position: relative;
	top: 8em;
	padding: 2em;
	margin-bottom: 7em;
	z-index: 0;
	"
}

#golferimg {
	width: 100%;
	max-width: 200px;
}

#footer {
	width: 100%;
	bottom: 0px;
	position: relative;
}

#footer1, #footer2, #footer3 {
	height: 12em;
}

/* This is document specific*/
#search {
	width: 30%;
}

#matchplay, #scoreboard {
	padding: 2em;
}

#hidden {
	display: none;
}

.seeButton {
	width: 42%;
	margin: 2%;
	padding: 1%;
}